/*  


1) HEADER
2) HAUT DE PAGE
3) MAIN
4) ARTICLE
5) BOUTONS
6) IMAGES
7) VIDEO
8) FOOTER 


*/


/****************************HEADER*****************************/ 

header nav div {
	float: right;
}

header nav {
	position: fixed;
    color: #333;
    height: 110px;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 100px;
    z-index: 10;
    background-color: #000972;
}

header nav li {
	float: left;
	padding: 5px 40px;
}

header nav li a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
}

header, footer {
	background-color: #000972;
}

.hr-header {
    position: absolute;
    width: 0px;
    margin-top: 70px;
    color: transparent;
    height: 2px;
    background-color: transparent;
    border: none;
    transition: 0.4s;
}

header nav li:hover .hr-header {
    width: 100px;
    transition: 0.4s;
    color: white;
    background-color: white;
}


.logo-abeille {
    background-image: url(../img/abeille.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 155px;
    padding: 40px;
    float: left;
    margin: 13px;
}

.logo-abeille:hover {
    background-image: url(../img/abeille-blanche.png);
    transition: 0.3s;
}





/****************************HAUT DE PAGE*****************************/ 

.div-haut {
	background-image: url(../img/fond-bleu.png);
    width: 100%;
    height: 36vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-fond-lettres {
  margin-bottom: 100px;
  padding-top: 190px;
}

h1#fond-lettres {
    background-image: url(../img/bee-flower.jpg);
    background-size: cover;
    background-attachment: inherit;
    background-position-y: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    font-size: 3.5rem;
}

#img-bee {
	float: right;
    margin-right: 245px;
    margin-top: 15px;
    transform: rotate(60deg);
    width: 14%;
}



/****************************   MAIN   *****************************/ 


.content {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.content video {
	display: block;
	flex-basis: 640px;
	padding: 2em;
}

.content p {
	flex-basis: 640px;
}

.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

div p {
	padding-top: 0 !important;
  text-align: justify;
}




/****************************   ARTICLE   *****************************/ 

/*ARTICLE1*/

/*ARTICLE2*/

.article2 {
    margin-top: 50px !important;
    min-height: 650px;
}

/*ARTICLE3*/

.article3 {
    min-height: 400px;
    margin-top: 150px;
}

/*ARTICLE4*/

.article4 p {
    padding-top: 20px !important;
}

.article4 {
    min-height: 450px;
}

/*ARTICLE5*/

.article5 {
    min-height: 760px;
}

/*ARTICLE6*/

.article6 {
  min-height: 470px;
}



/*********************************** BOUTONS ****************************/


.bouton-bas .div-etape {
  margin-top: 0;
}

/**********************************  IMAGES  *****************************/ 

.img-rond {
	max-width: 20vw;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-rond-insectes {
    max-width: 270px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.div-etape {
	background-color: #000972;
    width: 490px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 100px;
    transition: 0.3s;
}

.div-etape:hover {
    background-color: #000940;
    transition: 0.3s;
}

.a-etape {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}



/****************************   VIDEO   *****************************/ 


iframe, video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 120px;
    width: 65%;
    height: 670px;
}

iframe {
    margin-top: 180px;
}



/****************************   FOOTER   *****************************/ 

footer {
    color: white;
}

footer p {
    padding: 15px 30px;
}

.body-etapes footer {
    margin-top: 200px;
}
